<footer>
  <p class="disclaimer">
    Yu-Gi-Oh! Trading Card Game, and all related materials are copyright KONAMI Corporation. All rights reserved.<br>
    YGOProxy is an unofficially developed application and is not endorsed by or affiliated with KONAMI Corporation.
  </p>
</footer>

