<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 bg-light">
        <form action="upload-decklist" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="deckfile">YDK deckfile</label>
                <input type="file" required class="form-control-file" name="deckfile" id="deckfile" placeholder="" aria-describedby="fileHelpId">
                <small id="fileHelpId" class="form-text text-muted"><%= lang == 'fr' ? 'Upload n\'importe quel decklist au format YDK.' : 'Browse any YDK decklist file.' %></small>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4"><%= lang == 'fr' ? 'Proxyfier !' : 'Proxify!' %></button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>