<title>YGOProxy.com - <%= lang.includes('fr') ? 'Votre générateur de proxy YGO gratuit' : 'Your free YGO proxy generator' %> </title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<% if (lang.includes('fr')) { %>
    <meta name="description" content="Générateur de proxy Yu-Gi-Oh! simple, gratuit et rapide">
<% } else { %>
    <meta name="description" content="Make Yu-Gi-Oh! proxies cards quickly, easily and for free">
<% } %>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style type="text/css">
    body {
	min-height: 100%;
	position: relative;
	padding-bottom: 6rem;
	}
    footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 100%;
    }
    p.disclaimer {
        font-size: 0.8em;
    }
</style>
