node_modules
images/*
!images/.gitkeep
!images/calculator/
images/calculator/*
!images/calculator/*.jpg
!images/calculator/*.png
!images/calculator/*.svg
upload_ydk/*
!upload_ydk/.gitkeep
pdf/*
!pdf/.gitkeep
cache/*
!cache/.gitkeep
deck.json
form.html
output.pdf
style.css
success.html
test8index.js